WBA_OrderHero/src/Bestand.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name ="Bestand"> 
	<xs:complexType>
		<xs:sequence> 
			<xs:element name="Produkte">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Produkt_ID" type="xs:integer" />
						<xs:element name="Produktname" type="xs:string" />
						<xs:element name="Preis_in_Euro" type="xs:float" />
						<xs:element name="Beschreibung" type="xs:string" />
						<xs:element name="Menge" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:element>
</xs:schema>